<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PVMupen64Plus tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>PVMupen64Plus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>PVMupen64PlusRspHLE tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>PVMupen64PlusRspHLE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>PVMupen64PlusVideoGlideN64 tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>PVMupen64PlusVideoGlideN64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>PVMupen64PlusVideoRice tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>PVMupen64PlusVideoRice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>PVRSPCXD4 tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>PVRSPCXD4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>glidenhq-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>glidenhq-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>png-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>png-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3303E4B1DED23C600896D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3800FF4208522DC00FA03B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3AF702121916E60000FA7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3AF703A21916E87000FA7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
